@charset 'utf-8';
/* footer section */
.footer{
  padding: 18px 0;
  background-color: #ba000c;
  color: #cccccc;
}
.footer li{
  float: left;
  border-right: 1px solid #cccccc;
  padding: 0 14px;
  font-size: 14px;
  padding-bottom: 6px;
}
.footer li>a{
  color: #cccccc;
  font-weight: bold;
  
}
.footer li:nth-child(1){
  padding-left: 0;
}
.footer li:last-child   {
  border-right:none;
}  
.footer li:hover>a{
  font-weight: bolder;
}
.footer p{
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
}
